language: node_js
node_js:
  - 8.9.4
script:
  - npm run lint
  - npm run testCover
  - npm run report-cover
  - npx ipfs init
  - npx ipfs daemon > /dev/null 2>&1 &
  - npx ganache-cli > /dev/null 2>&1 &
  - npm run testContracts
  - npm run testSesamed

