<h1 align="center">
    <a href="https://ipfs.io">
        <img src="https://ipfs.io/ipfs/QmcFCZqMQi8jP2TkdicBzWVoeDosmdsftAqTaLNY7kH5yV" alt="Sesamed logo" />
    </a>
</h1>

<h3 align="center">Sesamed - Blockchain for the  Healthcare System</h3>

<p align="center">
    <a href="https://www.redmedical.de"><img src="https://img.shields.io/badge/made%20by-RED%20Medical-blue.svg" /></a>
</p>


[![view on npm](http://img.shields.io/npm/v/sesamed.svg)](https://www.npmjs.org/package/sesamed)
[![npm module downloads](http://img.shields.io/npm/dt/sesamed.svg)](https://www.npmjs.org/package/sesamed)
[![codecov](https://codecov.io/gh/redmedical/sesamed/branch/master/graph/badge.svg)](https://codecov.io/gh/redmedical/sesamed)
[![Build Status](https://travis-ci.org/redmedical/sesamed.svg?branch=master)](https://travis-ci.org/redmedical/sesamed)
[![Dependency Status](https://david-dm.org/redmedical/sesamed.svg)](https://david-dm.org/redmedical/sesamed)
[![js-standard-style](https://img.shields.io/badge/code%20style-standard-brightgreen.svg)](https://github.com/feross/standard)
[![Join the chat at https://gitter.im/redmedcical/sesamed](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/redmedical/sesamed?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

# sesamed

Blockchain for the German Healthcare System

**Features:**

- private
- Large collection of **test cases** which are maintained and added to
- **GPL-3.0 License** (including ALL dependencies)

# Installing

Installation is simple, just install via npm.

```bash
npm install --save sesamed
```


# Using

## In the browser

```html
<script src="dist/sesamed.min.js" type="text/javascript"></script>
```

## With Node.js

```sh
let sesamed = require("sesamed");
```

# Contributing
If you want to contribute you are welcome. Please regard the point below.

## Committing

This project is based on [Karma Git Commit Convention](http://karma-runner.github.io/3.0/dev/git-commit-msg.html).
See their [commit history](https://github.com/karma-runner/karma/commits/master) for examples of properly-formatted
commit messages.

# API Reference

## Standard functions

{{#module name="sesamed"}}
    {{>body~}}
    {{>member-index~}}
{{/module}}

## Utilities

{{#module name="sesamed.pgp"}}
    {{>body~}}
    {{>member-index~}}
{{/module}}
{{#module name="sesamed.aes"}}
    {{>body~}}
    {{>member-index~}}
{{/module}}
{{#module name="sesamed.ipfs"}}
    {{>body~}}
    {{>member-index~}}
{{/module}}
{{#module name="sesamed.multihash"}}
    {{>body~}}
    {{>member-index~}}
{{/module}}

## Standard functions

{{#module name="sesamed"}}
    {{>separator~}}
    {{>members~}}
{{/module}}

## Utilities

{{#module name="sesamed.pgp"}}
    {{>separator~}}
    {{>members~}}
{{/module}}
{{#module name="sesamed.aes"}}
    {{>separator~}}
    {{>members~}}
{{/module}}
{{#module name="sesamed.ipfs"}}
    {{>separator~}}
    {{>members~}}
{{/module}}
{{#module name="sesamed.multihash"}}
    {{>separator~}}
    {{>members~}}
{{/module}}

* * *

&copy; 2019 RED Medical Systems GmbH &lt;info@redmedical.de&gt;. Documented by [jsdoc-to-markdown](https://github.com/75lb/jsdoc-to-markdown).